* {
    margin: 0;
    padding: 0;
}
.contact-page-main {
    background-color: var(--jobless-white);
}
.info-contact-text h1 {
    font-family: var(--heading-font);
    color: var(--jobless-primary);
}
