* {
  margin: 0;
  padding: 0;
}

.contact-container .inner {
  position: relative;
}

.contact-container {
  background-image: url(../images/img/black-texture2.jpg);
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.contact-form-header h1,
.contact-form-header p {
  color: var(--jobless-white);
}

.contact-form-container {
  padding-top: 100px;
  position: relative;
  z-index: 1;
}

.contact-form-header h1 {
  font-size: 36px;
}

.contact-form-header p {
  font-size: 17px;
}

.contact-img-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.contact-container::after {
  content: "";
  background-color: var(--jobless-dark);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 50%;
  position: absolute;
}

.green-blob {
  position: absolute;
}

.blob1 {
  top: 50px;
}

.blob2 {
  top: 650px;
  right: 0px;
}

.contact-img {
  width: 100%;
  top: 220px;
  right: 0px;
  position: relative;
}

.contact-img img {
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.input-name-container,
.input-email-container,
.input-message-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 395px;
}

.other-contact {
  margin-top: 50px;
}

.form-control {
  height: 50px;
  border-radius: 15px;
  background: #e4e4e4e5;
  padding-left: 10px;
}

.message-input {
  border-radius: 15px 15px 0 15px;
  padding-left: 10px;
  background: #e4e4e4e5;
}

.submit-button {
  width: 300px;
  height: 50px;
  border-radius: 15px;
  background-color: #92e3a9;
}

.header-container {
  background-color: var(--jobless-dark);
}

header .inner {
  background-color: var(--jobless-dark);
}

.fa-bars {
  color: var(--jobless-white);
}

.logo {
  color: #92e3a9;
}

#bli-med {
  background-color: #92e3a9;
  color: var(--jobless-dark);
}
