main {
  margin-bottom: 100px;
  color: var(--jobless-darkishgray);
}
.hero-banner .inner {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.hero-banner {
  background-color: var(--jobless-darkishgray);
  height: 100%;
  padding: 60px 0;
}

.herobanner-text {
  color: var(--jobless-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10;
}

.herobanner-text h1 {
  font-size: 48px;
  font-weight: 800;
}

.iphone-hero {
  height: 300px;
}

.find-work-container .inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}
.find-work-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.find-work-info h2 {
  font-size: 43px;
}
.find-work-info p,
.mobile-text {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}
.desktop-text {
  display: none;
}

.example-ui-area {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
}
.categories-toggle-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.categories-toggle {
  padding: 10px 20px;
  background-color: var(--jobless-white);
  box-shadow: var(--jobless-shadow);
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #a5a1a150;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: var(--heading-font);
  font-weight: 500;
}

.job-card-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 2px solid #a5a1a150;
  box-shadow: var(--jobless-shadow);
  background-color: var(--jobless-white);
  font-family: var(--secondary-font);
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
}

.title-and-like,
.company-and-sallary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-and-like {
  font-weight: 800;
}
.title-and-like .fa-heart {
  color: #cd0000;
}
.sallary {
  font-weight: 800;
}
.sallary span {
  font-weight: 500;
}
.job-card-buttons-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
}
.job-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid var(--jobless-darkishgray);
  width: 100px;
  padding: 5px 15px;
}
.messages-mockup {
  display: flex;
  flex-direction: column;
  gap: 20px;

  min-width: 200px;
}
.client-message-container,
.talent-message-container {
  display: flex;
  gap: 10px;
}
.talent-message-container {
  flex-direction: row;
}
.client-message-container {
  flex-direction: row-reverse;
}
.profile-thumbnail {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.talent-profile {
  background-image: url(../Images/img/profilbilde-arne.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: var(--jobless-orange);
}
.client-profile {
  background-image: url(../Images/logos/Google__G__Logo.svg);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--jobless-white);
}

.message-box {
  background-color: var(--jobless-blue);
  border-radius: 10px;
  padding: 15px;
}

.client-message {
  background-color: transparent;
  border: 2px solid var(--jobless-blue);
  color: var(--jobless-blue);
}
.talent-message {
  color: var(--jobless-white);
}

@media screen and (min-width: 769px) {
  .find-work-container .inner {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 50px;
  }
  .example-ui-area {
    width: 50%;
  }
  .mobile-text {
    display: none;
  }
  .desktop-text {
    display: flex;
  }
}
