* {
  box-sizing: border-box;
}
footer {
  position: relative;
  z-index: 1000;
}
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}
.footer-container {
  color: var(--jobless-white);
  background-color: var(--jobless-darkishgray);
  padding: 20px;
}
.footer-container .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.client-toogle,
.talent-toogle,
.support-toogle,
.selskap-toogle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #bfbfbf;
  align-items: center;
}
.for-clients,
.for-talent,
.support,
.selskapet {
  display: flex;
  flex-direction: column;
}
.footer-header {
  font-weight: 700;
  margin-bottom: 50px;
}
.footer-header a {
  text-decoration: none;
  color: var(--jobless-white);
}
.dropdown-clients,
.dropdown-talent,
.dropdown-support,
.dropdown-selskap {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
}
.fa-angle-down {
  font-size: 25px;
}
.footer-nav-links {
  margin-bottom: 20px;
  font-weight: 300;
}
.footer-nav-links {
  text-decoration: none;
  color: #bfbfbf;
  border: none;
}
.socials {
  border-bottom: 2px solid #bfbfbf;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.socials a {
  text-decoration: none;
  color: var(--jobless-white);
}
.social-media {
  display: flex;
  gap: 20px;
}
.policy {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-direction: column-reverse;
  gap: 20px;
}
.policy-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.policy-info {
  font-size: 15px;
  color: #bfbfbf;
  display: flex;
}
.footer-logo {
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}
.footer-logo span {
  font-style: italic;
}
@media screen and (min-width: 769px) {
  .fa-angle-down {
    display: none;
  }
  .dropdown-clients,
  .dropdown-talent,
  .dropdown-support,
  .dropdown-selskap {
    display: flex;
    height: 100%;
  }
  .footer-nav {
    flex-direction: row;
  }
  .policy {
    flex-direction: row;
    width: 100%;
  }
  .socials {
    flex-direction: row;
    gap: 40px;
  }
}
