* {
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--jobless-dark);
  margin: 0;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  background-color: var(--jobless-white);
  color: var(--jobless-dark);
  font-weight: 500;
}
.mobile-menu-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.fa-bars {
  font-size: 36px;
}
.logo {
  font-size: 28px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}
.logo span {
  font-style: italic;
}
.nav {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}
.desktop-nav {
  display: none;
}
.nav-btn {
  border: transparent;
  background-color: var(--jobless-white);
  color: var(--jobless-dark);
  margin-right: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
.språk-velger {
  background-color: #eaeaea;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
}
#logg-på {
  border: none;
  background-color: var(--jobless-white);
  color: var(--jobless-dark);
  margin-right: 15px;
  margin-left: 20px;
  display: none;
}
#bli-med {
  border: transparent;
  border-radius: 15px;
  padding: 5px;
  width: 100px;
  color: var(--jobless-white);
  background-color: #eca63d;
  height: 30px;
  font-weight: 700;
}
.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  top: 100px;
  left: 0px;
  padding: 0 20px;
  align-items: flex-start;
  background-color: var(--jobless-white);
  color: var(--jobless-dark);
  padding: 20px;
  width: 20%;
  min-width: 250px;
}
#mobile-logg-på {
  padding: 5px;
  border-radius: 15px;
  width: 100px;
  border: 2px solid #eca63d;
  color: #eca63d;
  background-color: var(--jobless-white);
  color: var(--jobless-dark);
  font-weight: 700;
}
@media screen and (min-width: 769px) {
  .inner {
    margin: 0 auto;
    max-width: 1440px;
  }
  .header-container {
    padding: 0 20px;
  }
  .nav {
    display: flex;
  }
  .desktop-nav {
    display: flex;
    flex-direction: row;
  }
  .fa-bars {
    display: none;
  }
  #logg-på {
    display: block;
  }
  .user-nav-container {
    display: flex;
  }
  .mobile-nav {
    display: none;
  }
}
