* {
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

header .inner {
  padding: 0 20px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  color: var(--jobless-dark);
  font-weight: 500;
}
.mobile-menu-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mobile-menu-container a {
  text-decoration: none;
}
.fa-bars {
  font-size: 36px;
  cursor: pointer;
}
.logo {
  font-size: 28px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: var(--jobless-dark);
}

.logo span {
  font-style: italic;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}
.desktop-nav {
  display: none;
}
.nav-link {
  color: var(--jobless-dark);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.språk-velger {
  font-size: 12px;
  gap: 5px;
  width: 50px;
  height: 30px;
  background-color: #eaeaea;
  border-radius: 5px;
  position: relative;
}

.globe-container {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.lang-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 33px;
  width: 50px;
  height: 0;
  border-radius: 5px;
  gap: 3px;
  overflow: hidden;
  transition: ease-in-out 200ms;
}

.show {
  display: block;
}

.lang-toggle {
  gap: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-radius: 5px;
}

.selected_lang {
  background-color: #424242;
  color: var(--jobless-white);
}

.en-flag {
  background-image: url(../images/svgs/uk-flag.svg);
  background-size: cover;
  background-position: center;
}

.no-flag {
  background-image: url(../images/svgs/nor-flag.svg);
  background-size: cover;
  background-position: center;
}

.flag-container {
  width: 12px;
  height: 12px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.sign-in-button {
  display: none;
}

.fa-globe {
  font-size: 18px;
}

.join-button {
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 100px;
  color: var(--jobless-white);
  background-color: #eca63d;
  font-weight: 700;
  cursor: pointer;
}
.join-button a {
  color: var(--jobless-white);
  text-decoration: none;
}
.mobile-nav {
  z-index: 110;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  top: 100px;
  left: 0px;
  padding: 40px 20px;
  align-items: flex-start;
  background-color: var(--jobless-white);
  color: var(--jobless-dark);
  padding: 20px;
  width: 40%;
  min-width: 250px;
  transition: 400ms;
  border-radius: 0 0 15px 0;
  font-size: 24px;
}
.hidden {
  transform: translateX(-500px);
}

.dark-header {
  color: var(--jobless-white);
  background-color: #0c0c0c;
}
.dark-header .logo {
  color: var(--jobless-green);
  text-decoration: none;
}
.dark-header .join-button {
  border: 2px solid var(--jobless-green);
  background-color: transparent;
}
.dark-header .join-button a {
  color: var(--jobless-green);
  text-decoration: none;
}
.dark-header .fa-bars {
  color: var(--jobless-white);
}
.dark-header .mobile-nav {
  background-color: #0c0c0c;
}
.dark-header .mobile-nav a {
  color: var(--jobless-white);
}
/* hgamburger menu */
.mobile-toggle {
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.bars {
  width: 30px;
  height: 5px;
  background-color: var(--jobless-dark);
  border-radius: 20px;
  position: relative;
}

.bars::after,
.bars::before {
  background-color: var(--jobless-dark);
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: 20px;
  position: absolute;
  transition: 200ms;
}
.bars::after {
  top: 10px;
}
.bars::before {
  top: -10px;
}

.bars.toggled {
  transform: rotateZ(45deg);
}

.bars.toggled::before {
  transform: rotateZ(90deg);
  top: 0;
}
.bars.toggled::after {
  top: 0;
}

.dark-header .bars,
.dark-header .bars::after,
.dark-header .bars::before {
  background-color: var(--jobless-white);
}

@media screen and (min-width: 769px) {
  .nav {
    display: flex;
    gap: 20px;
  }
  .desktop-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }
  .bars {
    display: none;
  }
  .sign-in-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--jobless-dark);
    text-decoration: none;
  }
  .user-nav-container {
    display: flex;
    gap: 20px;
  }
  .mobile-nav {
    display: none;
  }
  .dark-header a {
    color: var(--jobless-white);
  }
}
