:root {
  /* Fonts */
  --heading-font: "Ubuntu", sans-serif;
  --secondary-font: "Nunito Sans", sans-serif;

  /* root color */
  --jobless-white: #fff;
  --jobless-dark: #000;
  --jobless-blue: var(--jobless-primary);
  --jobless-primary: #1b4159;
  --jobless-orange: var(--jobless-secondary);
  --jobless-secondary: #eca63d;
  --jobless-darkishgray: #1e1e1e;
  --jobless-lightgrey: #f4f4f4;
  --jobless-green: #92e3a9;

  /* root shadow */
  --jobless-shadow: 0px 0.7px 1.3px rgba(0, 0, 0, 0.031),
    0px 1.7px 3.3px rgba(0, 0, 0, 0.044), 0px 3.4px 6.7px rgba(0, 0, 0, 0.056),
    0px 6.9px 13.9px rgba(0, 0, 0, 0.069), 0px 19px 38px rgba(0, 0, 0, 0.1);

  /* Buttons */
  --BTN-radius-jobless: 30px;
  --BTN-radius-small-jobless: 15px;
  --BTN-height-jobless: 50px;
  --BTN-height-small-jobless: 40px;
  --BTN-border-jobless: 2px solid #000;
  --BTN-border-white-jobless: 2px solid #fff;
}
* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.inner {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1024px;
}

.m0 {
  margin: 0;
}
