

body {
  background-color: var(--jobless-white);
}

.banner-container {
  padding-top: 100px;
  position: relative;
  height: 450px;
}

.mask1 img {
  height: 200px;
  width: 200px;
}

.mask1 {
  -webkit-mask-image: url(../Images/svgs/herobanner-blob.svg);
  mask-image: url(../Images/svgs/herobanner-blob.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  fill: var(--jobless-primary);
  height: 200px;
  width: 200px;
  position: absolute;
  right: 100px;
  background-color: var(--jobless-primary);
  display: none;
}
